page-tabs {
    .tabs-ios,
    .tabs-md .tabbar {
        background: #FCF2CE;
    }
    .tabs-ios,
    .tabs-md .tab-button[aria-selected=true] {
        color: black;
    }
    .tabs-md,.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
        color: #423803;
    }
}