<!-- Generated template for the PrintslipComponent component -->
  <table id="print" style="width:33%" border="0" cellspacing="0" cellpadding="0" *ngIf="order.items">
    <tr>
      <td>{{order}}</td>
      <td>Receipt</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>{{order.shopName}}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Queue : {{order.queue}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Receipt No. : {{order.receiptNo}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Date : {{dateStr}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Customer : {{order.customer}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>=================================</td>
      <td></td>
    </tr>
    <tr *ngFor="let ord of order.items">
      <td>{{ord.product.name}}</td>
      <td>{{ord.qty}}</td>
      <td>{{ord.selectedPrice.netprice}}</td>
    </tr>
    <tr>
      <td></td>
      <td>=================================</td>
      <td></td>
    </tr>
    <tr>
      <td>Sub total : </td>
      <td></td>
      <td>{{order.amount}}</td>
    </tr>
    <tr>
      <td>Discount : </td>
      <td></td>
      <td *ngIf="order.promotion">{{order.discount}}</td>
      <td *ngIf="!order.promotion">0</td>
    </tr>
    <tr>
      <td>Total : </td>
      <td></td>
      <td>{{order.netamount}}</td>
    </tr>
    <tr>
      <td>Receive : Cash : {{order.cash}}</td>
      <td></td>
      <td>{{order.change}}</td>
    </tr>
    <tr>
      <td></td>
      <td>=================================</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Thank you.</td>
      <td></td>
    </tr>
  </table>