<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="Drink" class="SegmentSize">
        DRINK
      </ion-segment-button>
      <ion-segment-button value="Dessert" class="SegmentSize">
        DESSERT
      </ion-segment-button>
      <ion-segment-button value="Food" class="SegmentSize">
        FOOD
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-8 no-padding>
        <ion-scroll scrollY class="scrollHeight">
          <ion-grid [ngSwitch]="category" no-padding>
            <ion-row *ngSwitchCase="'Drink'" no-padding>
              <ion-col col-3 *ngFor="let item of prod_drink" no-padding>
                <ion-card class="card-background-page" no-padding (click)="addtoOrder(ev,item)">
                  <img [src]="item.image[0]" />
                  <ion-row>
                    <ion-col class="card-title" text-nowrap text-center>{{item.name}}</ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row *ngSwitchCase="'Dessert'" no-padding>
              <ion-col col-3 *ngFor="let item of prod_dessert" no-padding>
                <ion-card class="card-background-page" no-padding (click)="addtoOrder(ev,item)">
                  <img [src]="item.image[0]" />
                  <ion-row>
                    <ion-col class="card-title" text-nowrap text-center>{{item.name}}</ion-col>
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>

            <ion-row *ngSwitchCase="'Food'" no-padding>
              <ion-col col-3 *ngFor="let item of prod_food" no-padding>
                <ion-card class="card-background-page" no-padding (click)="addtoOrder(ev,item)">
                  <img [src]="item.image[0]" />
                  <ion-row>
                    <ion-col class="card-title" text-nowrap text-center>{{item.name}}</ion-col>
                    <!-- <ion-col text-right>{{item.price}}.-</ion-col> -->
                  </ion-row>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-scroll>
      </ion-col>
      <ion-col col-4 class="colListColor">
        <ion-list>
          <ion-list-header>
            <h2>Menulist</h2>
            <button ion-button icon-right item-right color="danger" (click)="clearList()">
                  Clear
                  <ion-icon name="trash"></ion-icon>
                </button>
          </ion-list-header>
          <ion-scroll scrollY class="scrollHeight2">
            <ion-item-sliding *ngFor="let ord of ordersPVD.order; let i = index">
              <!-- <ion-item-sliding *ngFor="let ord of ordersPVD.order" (press)="showOption($event,ord)"> -->
              <ion-item>
                <ion-row align-items-center>
                  <ion-col align-self-center>
                    <h2>{{ord.product.name}} <span *ngIf="ord.product.category.name == 'Drink'">({{ord.selectedPrice.type}})</span></h2>
                  </ion-col>
                  <ion-col text-right>
                    {{ord.selectedPrice.netprice}}.-
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteOrder(i)">
                  <ion-icon name="md-close-circle"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-scroll>
        </ion-list>
        <button ion-button icon-left block class="btnCal" (click)="gotoCalculate()" color="brw">
            <ion-icon name="md-calculator"></ion-icon>Calculate
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>